<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mercado</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/1769c34f4a.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="body__header">
        <div class="header_logo">
            <img src="/img/logo-mercado-liebre.svg" alt="logo">
        </div>       
            <form action=""><input type="search", value="buscar" , class="header__searchBar"> </form>     
       
            <h2 class="header__title">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        <nav class="header__nav">
            <ul class="header__nav--section">
                
                 <li><a href="">ofertas</a></li>
                 <li><a href="">tienda oficiales</a></li>
                 <li><a href=""> vender</a></li>
                 <li><a href="">ayuda</a></li>
                
            </ul>
            <ul class="header__nav--section">
                <li><a href="">Crea cuenta</a></li>
                 <li><a href="">Ingresa</a></li>
                 <li><a href="">mis compras</a></li>

            </ul>
            <nav class="header__bar"><i class="fa-solid fa-bars"></i></nav>
        </nav>

    </header>
    <main class="home__main">
        <div class="home__main--banner">
        <img src="/img/img-home-banner.jpg" alt="home" >
        </div>
        <section class="main__section">
            <h3>basado en tu ultima vista</h3>
           <article class="article__main">
                <div class="main__section-product"><img src="/img/img-cafetera-moulinex.jpg" alt="cafetera", ></div>
                    <div class="main__section--infoProduct">
                        <div class="truck"><i class="fa-solid fa-truck"></i></div>
                        <p class="main__section-precio">$6.770</p>
                        <span class="main__section-desc">
                        40% off</span>
                    
                    <h5 class="main__section-desc"><b>Cafetera Moulinex</b></h5>
                </div>      
            </article>
            <article class="article__main">
                <div class="main__section-product"><img src="/img/img-macbook-pro-2019.jpg" alt="cafetera" ></div>
                <div class="main__section--infoProduct">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="main__section-precio">$230.000</p>
                <span class="main__section-desc">
                    20% off</span>
                     
                    <h5 class="main__section-desc"><b>MacBook</b></h5>
                </div>      
            </article>
            <article class="article__main">
               <div class="main__section-product"><img src="/img/img-samsung-galaxy-s10.jpg" alt="cafetera" ></div>
                <div class="main__section--infoProduct">
                <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="main__section-precio">$70.500</p>
                <span class="main__section-desc">
                    10% off</span>
                     
                    <h5 class="main__section-desc"><b>Samsung Galaxy S10</b></h5>
                </div>      
            </article>
        </section>
        <section class="main__section">
            <h3 class="main__section--titulares">Ofertas del dia</h3>
            <article class="article__main">
                <div class="main__section-product"><img src="/img/img-cafetera-moulinex.jpg" alt="cafetera" ></div>
                <div class="main__section--infoProduct">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="main__section-precio">$6.770</p>
                <span class="main__section-desc">
                    40% off</span>
                  
                    
                    <h5 class="main__section-desc"><b>Cafetera Moulinex</b></h5>
                </div>      
            </article>
            <article class="article__main">
                <div class="main__section-product"><img src="/img/img-macbook-pro-2019.jpg" alt="cafetera" ></div>
                <div class="main__section--infoProduct">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="main__section-precio">$230.000</p>
                <span class="main__section-desc">
                    20% off</span>
                 
                      
                    <h5 class="main__section-desc"><b>MacBook</b></h5>
                </div>   
            </article>
            <article class="article__main">
                <div class="main__section-product"><img src="/img/img-samsung-galaxy-s10.jpg" alt="cafetera" ></div>
                <div class="main__section--infoProduct">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                <p class="main__section-precio">$70.500</p>
                <span class="main__section-desc">
                    10% off</span>     
                    <h5 class="main__section-desc"><b>Samsung Galaxy S10</b></h5>                    
                </div>  
            </article>
        </section>

    </main>
    <footer class="body__footer">
        <ul >
            <li>
                <i class="fa-solid fa-credit-card"></i>
                <h4>paga con tarjeta o efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                 puntos de pago. ¡Y siempre es seguro!</p></li>
            <li>
                 <i class="fa-solid fa-gift"></i>
                <h4>envio gratis a partir de $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p></li>
            <li>
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p></li>
            <li class="body__copyright">
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </li>
       
        </ul>

    </footer>
    
</body>
</html>